/*
______color dictionary______
red : #EF4C86
yellow : #EACB2B
blue : #4D9DCF
green : #4FB848
darker : #414141
black : #303030
form box : white
form box focus : #c9c9c9
chat green : #AFFFAA
chat grey : #EFEFEF
*/

/* ------------ Form Style ------------ */

.form-rounded-50 {
    border-radius: 50rem;
    border-width: 0px;
}

.form-rounded-0 {
    background-color: #DBD7D7;
    border-radius: 0px;
    border-width: 0px;
}

.form-rounded-0:focus {
    background-color: #F2F2F2;
    border-radius: 0px;
    border-width: 0px;
}

.form-btn-rounded-0 {
    background-color: #DBD7D7;
    border-radius: 0px;
    border-width: 0px;
}

.form-btn-rounded-0:hover {
    background-color: #F2F2F2;
    border-radius: 0px;
    border-width: 0px;
}

/* ------------ Pagination ------------ */

.pagination-blue {
    color: #4D9DCF;
    border: 1px solid #4D9DCF;
}

.pagination-blue-active {
    color: white;
    background-color: #4D9DCF;
}

.pagination-blue-active:hover {
    color: white;
    border: 1px solid #4D9DCF;
    background-color: #4D9DCF;
}

.pagination-blue-disabled {
    color: #4D9DCF;
    border: 1px solid #4d9dcf5b;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.pagination-blue-disabled:hover {
    color: #4D9DCF;
    border: 1px solid #4d9dcf5b;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.pagination-red {
    color: #EF4C86;
    border: 1px solid #EF4C86;
}

.pagination-red-active {
    color: white;
    background-color: #EF4C86;
}

.pagination-red-active:hover {
    color: white;
    border: 1px solid #EF4C86;
    background-color: #EF4C86;
}

.pagination-red-disabled {
    color: #EF4C86;
    border: 1px solid #EF4C865b;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.pagination-red-disabled:hover {
    color: #EF4C86;
    border: 1px solid #EF4C865b;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

/* Image relative */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0px;
    right: 0;
}

#tablePayment label {
    cursor: pointer;
}

#tableDetailPayment p {
    margin: 0px;
}

/* ----------------- Chat Style ----------------- */

.chat-box {
    max-width: 90%;
}

.chat-bg-green {
    background-color: #AFFFAA;
}

.chat-bg-grey {
    background-color: #EFEFEF;
}

#chat-form {
    resize: none;
    border: 2px solid #EF4C86;
    box-shadow: 0px 0px;
    text-shadow: 0px 0px;
}

#chat-form:focus {
    resize: none;
    border: 2px solid #EF4C86;
    box-shadow: 0px 0px;
    text-shadow: 0px 0px;
}

.chat-icon {
    color: #EF4C86;
}

.chat-icon:hover {
    color: #7a022c;
}

/* ----------------- Other Style ----------------- */

.my-text-red {
    color: #EF4C86;
}

.my-text-yellow {
    color: #EACB2B;
}

.my-text-blue {
    color: #4D9DCF;
}

.my-text-right {
    text-align: right;
}

.my-text-small {
    font-size: 14px;
}

.my-text-smaller {
    font-size: 12px;
}

.my-text-tiny {
    font-size: 10px;
}

.rounded-15 {
    border-radius: 15px;
}

.rounded-left-15 {
    border-radius: 15px 0px 0px 15px;
}

.rounded-right-15 {
    border-radius: 0px 15px 15px 0px;
}

.rounded-top-15 {
    border-radius: 15px 15px 0px 0px;
}

.rounded-bottom-15 {
    border-radius: 0px 0px 15px 15px;
}

.my-bg-red {
    background-color: #EF4C86;
}

.my-bg-yellow {
    background-color: #EACB2B;
}

.my-bg-blue {
    background-color: #4D9DCF;
}

.my-bg-darker {
    background-color: #414141;
}

.my-bg-black {
    background-color: #303030;
}

.border-blue {
    border: 2px solid #4D9DCF;
}

.border-yellow {
    border: 2px solid #EACB2B;
}

.border-red {
    border: 2px solid #EF4C86;
}

.border-black {
    border: 2px solid #303030;
}

#tableProject .top-start {
    vertical-align: top;
}

#tableProject .middle-end {
    vertical-align: middle;
    text-align: end;
}

#tableProject td {
    padding-bottom: 6px;
    padding-top: 6px;
}

#tablePayment td {
    vertical-align: top;
    padding-bottom: 6px;
    padding-top: 6px;
}

#tablePayment td:last-child {
    vertical-align: top;
    padding-left: 4px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0px;
    right: 0;
}

#tableDetailPayment p {
    margin: 0px;
}

#tableDetailProject td {
    padding-top: 6px;
    padding-bottom: 6px;
}

/* Show detail payment */

.js-showDetailPayment {
    display: block;
}

.js-hideDetailPayment {
    display: none;
}