/*
______color dictionary______
red : #EF4C86
yellow : #EACB2B
blue : #4D9DCF
green : #4FB848
form box : #DBD7D7
form box focus : #F2F2F2
chat green : #AFFFAA
chat grey : #EFEFEF
*/

/* --------------- Header, Footer, & Article --------------- */

footer {
    background-color: #686868;
}

.footer-hover {
    color: white;
    transition: 0.3s;
}

.navbar-hover {
    color: black;
    transition: 0.3s;
}

.navbar-hover-active {
    color: #EACB2B;
}

.footer-hover:hover {
    color: #EACB2B;
    transition: 0.3s;
}

.navbar-hover:hover {
    color: #EACB2B;
    transition: 0.3s;
}

.navbar-hover-active:hover {
    color: #EACB2B;
    transition: 0.3s;
}

.article-hover {
    color: black;
    transition: 0.3s;
}

.article-hover:hover {
    color: #EACB2B;
    transition: 0.3s;
}

/* ------------ Form Style ------------ */

.form-rounded-50 {
    border-radius: 50rem;
    border-width: 0px;
}

.form-rounded-0 {
    background-color: #DBD7D7;
    border-radius: 0px;
    border-width: 0px;
}

.form-rounded-0:focus {
    background-color: #F2F2F2;
    border-radius: 0px;
    border-width: 0px;
}

.form-btn-rounded-0 {
    background-color: #DBD7D7;
    border-radius: 0px;
    border-width: 0px;
}

.form-btn-rounded-0:hover {
    background-color: #F2F2F2;
    border-radius: 0px;
    border-width: 0px;
}

/* ------------ Pagination ------------ */

.pagination-blue {
    color: #4D9DCF;
    border: 1px solid #4D9DCF;
}

.pagination-blue-active {
    color: white;
    background-color: #4D9DCF;
}

.pagination-blue-active:hover {
    color: white;
    border: 1px solid #4D9DCF;
    background-color: #4D9DCF;
}

.pagination-blue-disabled {
    color: #4D9DCF;
    border: 1px solid #4d9dcf5b;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.pagination-blue-disabled:hover {
    color: #4D9DCF;
    border: 1px solid #4d9dcf5b;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.pagination-red {
    color: #EF4C86;
    border: 1px solid #EF4C86;
}

.pagination-red-active {
    color: white;
    background-color: #EF4C86;
}

.pagination-red-active:hover {
    color: white;
    border: 1px solid #EF4C86;
    background-color: #EF4C86;
}

.pagination-red-disabled {
    color: #EF4C86;
    border: 1px solid #EF4C865b;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.pagination-red-disabled:hover {
    color: #EF4C86;
    border: 1px solid #EF4C865b;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

/* Image relative */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0px;
    right: 0;
}

#tablePayment label {
    cursor: pointer;
}

#tableDetailPayment p {
    margin: 0px;
}

/* ----------------- Chat Style ----------------- */

.chat-box {
    max-width: 90%;
}

.chat-bg-green {
    background-color: #AFFFAA;
}

.chat-bg-grey {
    background-color: #EFEFEF;
}

#chat-form {
    resize: none;
    border: 2px solid #EF4C86;
    box-shadow: 0px 0px;
    text-shadow: 0px 0px;
}

#chat-form:focus {
    resize: none;
    border: 2px solid #EF4C86;
    box-shadow: 0px 0px;
    text-shadow: 0px 0px;
}

.chat-icon {
    color: #EF4C86;
}

.chat-icon:hover {
    color: #7a022c;
}

/* ----------------- Other Style ----------------- */

.rounded-15 {
    border-radius: 15px;
}

.rounded-left-15 {
    border-radius: 15px 0px 0px 15px;
}

.rounded-right-15 {
    border-radius: 0px 15px 15px 0px;
}

.rounded-top-15 {
    border-radius: 15px 15px 0px 0px;
}

.rounded-bottom-15 {
    border-radius: 0px 0px 15px 15px;
}

.bg-red {
    background-color: #EF4C86;
}

.bg-yellow {
    background-color: #EACB2B;
}

.bg-blue {
    background-color: #4D9DCF;
}

.border-blue {
    border: 2px solid #4D9DCF;
}

.border-yellow {
    border: 2px solid #EACB2B;
}

.border-red {
    border: 2px solid #EF4C86;
}

.icon-edit-profile {
    font-size: 32px;
    color: #FFE977;
}

.icon-edit-profile:hover {
    color: #86772c;
}

.btn-text-underline {
    font-weight: bold;
    border-bottom: 2px solid;
    padding-bottom: 3px;
}

.link-lengkapi-data:hover {
    color: #EACB2B;
    transition: 0.3s;
}

#tableProject .top-start {
    vertical-align: top;
}

#tableProject .middle-end {
    vertical-align: middle;
    text-align: end;
}

#tableProject td {
    padding-bottom: 6px;
    padding-top: 6px;
}

#tablePayment td {
    vertical-align: top;
    padding-bottom: 6px;
    padding-top: 6px;
}

#tablePayment td:last-child {
    vertical-align: top;
    padding-left: 4px;
}

.iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0px;
    right: 0;
}

#tableDetailPayment p {
    margin: 0px;
}

/* Floating WA Buttong */
#floating-wa-button {
    box-shadow: 3px 3px 3px #00000079;
    background-color: #4FB848;
}

#floating-wa-button:hover {
    box-shadow: 4px 4px 5px #000000c0;
    background-color: #2c7927;
}

/* Show detail payment */
.js-showDetailPayment {
    display: block;
}

.js-hideDetailPayment {
    display: none;
}

.bg-shadow{
    box-shadow: 2px 2px 5px grey;
    transition: 0.3s;
}

.bg-shadow:hover{
    box-shadow: 2px 2px 10px grey;
    transition: 0.3s;
}
