/*
______color dictionary______
red : #EF4C86
yellow : #EACB2B
blue : #4D9DCF
green : #4FB848
form box : #DBD7D7
form box focus : #F2F2F2
*/

body {
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 15px;
}

.texthead-left-yellow {
    background-image: url(http://localhost/polaris-studio/asset/image/general/texthead-bg-yellow.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 88% 100%;
    background-position: center left;
    width: auto;
    display: inline-block;
    padding: 0px 20px 5px 20px;
}

.texthead-right-yellow {
    text-align: center;
    background-image: url(http://localhost/polaris-studio/asset/image/general/texthead-bg-yellow.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 81% 100%;
    background-position: center right;
    width: auto;
    display: inline-block;
    padding: 0px 20px 5px 20px;
}

.texthead-left-blue {
    background-image: url(http://localhost/polaris-studio/asset/image/general/texthead-bg-blue.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 88% 100%;
    background-position: center left;
    width: auto;
    display: inline-block;
    padding: 0px 20px 5px 20px;
}

.texthead-right-blue {
    text-align: center;
    background-image: url(http://localhost/polaris-studio/asset/image/general/texthead-bg-blue.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 81% 100%;
    background-position: center right;
    width: auto;
    display: inline-block;
    padding: 0px 20px 5px 20px;
}

.texthead-left-red {
    background-image: url(http://localhost/polaris-studio/asset/image/general/texthead-bg-red.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 88% 100%;
    background-position: center left;
    width: auto;
    display: inline-block;
    padding: 0px 20px 5px 20px;
}

.texthead-right-red {
    text-align: center;
    background-image: url(http://localhost/polaris-studio/asset/image/general/texthead-bg-red.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 81% 100%;
    background-position: center right;
    width: auto;
    display: inline-block;
    padding: 0px 20px 5px 20px;
}

.text-red {
    color: #EF4C86;
}

.text-yellow {
    color: #EACB2B;
}

.text-blue {
    color: #4D9DCF;
}

.text-right {
    text-align: right;
}

.text-small {
    font-size: 14px;
}

.text-smaller {
    font-size: 12px;
}

.text-tiny {
    font-size: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.link-hover-underline:hover {
    text-decoration: underline;
}